@media (max-device-width: 1023px), (max-width:700px)
{
	div.content
	{
		display:inline-block;
		width:100%;
		margin-left:0px;
		border: none;
	}
}
@media (max-device-width: 1023px), (max-width:930px)
{
	.one_third_cell
	{
		width: 100%;
		margin: 5px 0px;

	}
}


@media (max-device-width: 1023px)
{
	div.notification
	{
		font-size:25px;
	}

	h1
	{
		font-size: 3em;
	}

	h3
	{
		font-size: 2em;	
	}

	input,textarea
	{
		font-size: 30px;
		box-shadow: 0 0px 3px rgba(0,0,0,1);
	}

	.button, .back, .next
	{
		font-size: 30px;
	}
	.hint
	{

		font-size: 20px;
	}

	.notification_close:before
	{
		font-size: 25px;
		content:"\2716 Close";
	}

	.notification_close_ru:before
	{
		font-size: 25px;
		content:"\2716 Закрыть";
	}

	.notification_cross
	{
		font-size: 30px;
	}

	.one_third_cell
	{
		font-size: 30px;
	}
}