@media (max-device-width: 1023px)
{
	div.main_control_button, .active_main_control_button
	{
		font-size: 35px;
	}
	.main_login_cell, .main_login_cell>input, .main_login_cell>.button
	{
		font-size: 25px;		
	}
	.main_banner
	{
		height: 150px;
	}


}

@media (max-device-width: 1023px), (max-width:700px)
{
	.main_banner
	{
		margin-top:71px;
		
	}


}

@media (max-device-width: 1023px), (max-width:1040px)
{
	.main_login_cell
	{
		display: block;
		width: 100%;
	}
	.main_login_cell:nth-child(1), 	.main_login_cell:nth-child(2), 	.main_login_cell:nth-child(3)
	{
		width: 100%;	
	}


}