@media (max-device-width: 1023px) and (orientation:portrait)
{
	div.main_control_button, .active_main_control_button
	{
		font-size: 45px;
		padding: 25px 0;
	}
	.main_login_cell, .main_login_cell>input, .main_login_cell>.button
	{
		font-size: 45px;
		padding-top: 10px;	

	}
	.main_banner
	{
		height: auto;
		min-height: 150px;
	}
	.main_login
	{
		width: 50%;

	}
	.main_banner_left_block
	{
		width: 45%;
	}


}


@media (max-device-width: 1023px) and (orientation:landscape)
{
	div.main_control_button, .active_main_control_button
	{
		font-size: 35px;
	}
	.main_login_cell, .main_login_cell>input, .main_login_cell>.button
	{
		font-size: 25px;		
	}
	.main_banner
	{
		height: 150px;
	}


}



@media (max-device-width: 1023px), (max-width:700px)
{
	.main_banner
	{
		margin-top:71px;
		
	}


}

@media (max-device-width: 1023px), (max-width:1040px)
{
	.main_login_cell
	{
		display: block;
		width: 100%;
	}
	.main_login_cell:nth-child(1), 	.main_login_cell:nth-child(2), 	.main_login_cell:nth-child(3)
	{
		width: 100%;	
	}


}