@media (max-device-width: 1023px)
{
	.plan_gallery_cell, .na_plan_gallery_cell, .plan_label_hint, .verification_question
	{
		font-size: 30px;
	}
	.plan_label_hint
	{
		min-width: 300px;
		max-width: 370px;
		bottom: 50;
	}	

}


@media (max-width:1030px)
{
	.plan_gallery_cell
	{
		margin: 10px 25px;
	}
}


@media (max-device-width: 1023px), (max-width:820px)
{

	.plan_gallery_cell, .na_plan_gallery_cell
	{
		display: block;
		margin: 10px 3px 15px 3px;
		max-width: 97%;

	}

	.plan_section_header>.plan_title
	{
		width: 90%;
	}



}