@media (max-device-width: 1023px), (max-width:950px)
{
	._form_left_side, ._form_right_side

	{
		width: 100%;	
		display:block;
		margin-top:2%;
	}
	.poll_body, .poll_footer
	{
		width:100%;
	}
	.poll_author_info
	{
		width:95%;
	}
	.button_wrapper
	{
		padding: 10px 0% 10px 0%;
	}
		

}


@media (max-device-width: 1023px)  and (orientation:portrait)
{
	.time_left
	{
		font-size: 45px;
	}

}

@media (max-device-width: 1023px) and (orientation:landscape)
{
	.time_left
	{
		font-size: 25px;
	}

}