@media (max-device-width: 1023px) and (orientation: landscape)
{
	.popup_content
	{
		font-size: 30px;
	}
	.popup
	{
		
		width: 350px;
		height: 450px;
		padding: 25px 15px 0px 15px;
		
	}	

}


@media (max-width:470px)
{
	.popup
	{
		
		width: 200px;
		height: 350px;
		padding: 25px 15px 0px 15px;
		
	}
}


@media (max-device-width: 1023px) and (orientation: portrait)
{
	
	.popup_content
	{
		font-size: 40px;
		padding: 20px 0px;
	}
	.popup
	{
		
		width: 450px;
		height: 550px;
		padding: 25px 15px 0px 15px;
		
	}	
	.notification_close:before
	{
		font-size: 35px;	
	}

	.popup_button>.button
	{
		font-size: 40px;	
	}
	.popup>.switcher+label
	{
		font-size: 35px;

	}
	.popup_button
	{
		margin-top: 30px;
	}

}