@media (max-device-width: 1023px), (max-width:700px)
{
	

}


@media (max-device-width: 1023px) and (orientation:portrait)
{
	.result_bar
	{
		height: 67px;
		
	}
	.result_percent
	{
		font-size: 37px;
	}
}

@media (max-device-width: 1023px) and (orientation:landscape)
{
	.result_bar
	{
		height: 30px;
		
	}
	.result_percent
	{
		font-size: 25px;
	}
}