

@media (max-device-width: 1023px) and (orientation:landscape)
{
	.tapebutton:not(checked) + label 
	{

		padding: 5px 0 0 80px; 
		font-size: 30px;
	}	
	.tapebutton:not(checked) + label:before {
	top: 2px;
	left: 0;
	width: 45px;
	height: 45px;

	}
	


}


@media (max-device-width: 1023px) and (orientation:portrait)
{
	.tapebutton:not(checked) + label 
	{

		padding: 5px 0 0 100px; 
		font-size: 50px;
	}	
	.tapebutton:not(checked) + label:before {
	top: 2px;
	left: 0;
	width: 65px;
	height: 65px;

	}
	


}


