.layout
{
	position:fixed;
	left:0;
	top:0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.85);
	z-index: 500;
}

.popup
{
	position:fixed;
	left:0;
	top:0;
	right: 0;
	bottom: 0;
	width: 350px;
	height: 200px;
	margin: auto;
	padding: 1% 60px 1% 5%;
	border: 1px solid #234D20;
	background-color: #FFF;
	z-index: 510;
	box-shadow: 0px 0px 50px 50px rgba(255, 255, 255, 0.7);
}

.popup_button
{
	width: 60%;
	text-align: center;
	margin-top: 20px;
	padding: 0 20%;
}
.popup_content
{
	margin: 20px 0px;
}